body, html {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 22px;
    overflow-x: hidden;
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
}

.logo img {
    width:70px;
    padding-top: 10px;
    margin-right: 10px;
}

#navbarMenu {
    margin-bottom: 10px;
}

nav {
    background-color: #fff;
    width: 100%;
    height: auto; 
}

.nav-item {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 18px;
}


.navbar-light .navbar-nav .nav-link:hover {
    color:#d10208;
    transition:all 1s linear;
}


#home-page {
    width:auto;
    height:auto;
}

.slide{
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    padding:0px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.title-h1-slide-1 {
    font-size: 45px;
    font-weight: 400;
    color: rgb(97, 96, 96);
}

.title-h1-slide-2 {
    
    font-size: 40px;
    font-weight: 400;
    color: rgb(97, 96, 96);
}

.title-h1-slide-2-p {
    color: #a29f9a;
}

.title-h1-slide-3 {
    font-size: 40px;
    font-weight: 400;
    color: #787a7c;
}

.title-h1-slide-3-p {
    color: #756d6d;
}

.title-h1-slide-4 {
    font-size: 40px;
    font-weight: 400;
    color: rgb(97, 96, 96);
}

.description-title h2 {
    margin-bottom: 60px;
    margin-top: 80px;
    color: rgb(97, 96, 96);
    padding-top: 10px;
    font-weight: lighter;
}

.description-title p {
    text-align: justify;
    color:#333;
    line-height: 20px;
    font-weight: 300;
    font-size: 18px;
}

/* Start Feature CSS */

.red-text { color: #C9302C; }
.feature-content {
    background: #eaebf0;
}

.feature-content img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}
.feature-content-title  {
    padding: 0 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
}
.feature-content-description {
    padding: 0 20px 35px;
    text-align: justify;
    color: #333;
    margin-top: 15px;
    line-height: 19px;
    font-size: 16px;
}

#marketplace {
    background-color: #313131;
}

.blog-content {
  background: #F2F2F2;
}

.blog-content img {
    width:100%;
}


.blog-content h2 {
    color: #C9302C;
    padding-top: 20px;
    text-transform: capitalize;
}
.blog-content p {
    padding: 10px;
    text-align: justify;
    color: #333333;
}

/* Serviços CSS */

#servicos {
    background-color: #f2f7fd;
    padding-bottom: 30px;
}

.servicos-title h2 {
    margin-bottom: 50px;
    margin-top: 80px;
    color: rgb(97, 96, 96);
    padding-top: 10px;
    font-weight: lighter;
}

.servicos-content h2{
    color: #C9302C;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    font-weight: 600;
}

.servicos-content img {
    width: 100%;
}

div#service-area-main {
    float: left;
    width: 100%;
    margin-top:-200px;
}

.our-service{
  margin:65px 0px 85px;
}

#e-commerce {
  background-image: url("/ecommerce-bg.jpg");
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#e-commerce-content {
    background-color: #F2F2F2;;
}

.e-commerce-content-title h2{
    font-size: xxx-large;
    margin-bottom: -40px;
    margin-top: 10px;
    color: #333;
    padding-top: 10px;
    font-weight: lighter;
    text-shadow: 1px 1px rgb(196, 196, 196);
   
    
}


.service  h1 {
    color: #333;
    text-shadow: 1px 1px rgb(196, 196, 196);
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: lighter;
    font-size: xxx-large;
}

.service > p {
    color:floralwhite;
    text-shadow: 1px 1px #aaa;
    font-size: 18px;  
    font-weight: lighter;
}

#contatos {
    background-color: #F2F2F2;
    margin-top: 96px;
}

.form-group {
    color:rgb(133, 125, 125);
}

.label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: lighter;
}

.customize-img img {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
}

.btn-primary {
    color: #fff;
    background-color: rgb(97, 96, 96);
    border-color: rgb(97, 96, 96);
}

.btn-primary:hover {
    background-color: rgb(97, 96, 96);
    border-color: rgb(97, 96, 96);
}

.contatos-description-title h1 {
    margin-top: 20px;
    color:rgb(97, 96, 96);
    font-weight: lighter;
}

.contatos-description-title h4 {
    color:rgb(97, 96, 96);
    margin-top: 20px;
    font-weight: lighter;
}

/* Footer CSS */

.unique-color-dark {
    background-color:#333;
    color: #fff;
    font-weight: lighter;
    line-height: 20px;
}

.mb-0 {
    color:#fff;
    font-size: 17px;
    font-weight: lighter;
}

.link-ic img {
    padding-left: 6px;
}

.menu-a a {
    color: #fff;
}